.checkbox {
    margin: 9px;
}

.task {
    margin: 0 auto 20px;
}

.active{
    border: 2px solid #007bff;
}

.done{
    border-width: 2px;
}

.checked{
    border: 2px solid red;
}

.cardBody {
    display: flex;
    flex-flow: column nowrap;
}

.buttonsGroup {
    margin-top: auto;
}