.checkbox {
  margin: 9px;
  position: absolute;
  right: 0;
}

.task {
  margin: 0 auto 20px;
}

.active {
  border: 2px solid #007bff;
}

.done {
  border-width: 2px;
}

.done .title {
  text-decoration: line-through #dc3545;
}

.checked {
  border: 2px solid red;
}

.cardBody {
  display: flex;
  flex-flow: column nowrap;
}

.buttonsGroup {
  margin-top: auto;
}
