.main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 20px;
  text-align: center;
}

.submitContainer {
  text-align: center;
}

.submitContainer [type="button"] {
  width: 40%;
}

.logo {
  margin-bottom: 10px;
  text-align: center;
}

.invalid {
  border: 1px solid red;
}
